@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: stratosskyengweb;
    src:
        url("./fonts/stratosskyengweb-regular.woff2") format("woff2"),
        url("./fonts/stratosskyengweb-regular.woff") format("woff");
}

@keyframes flip-horizontal-bottom {
    0% {
        transform: rotateX(-180deg);
    }

    100% {
        transform: rotateY(-180deg);
    }
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.center {
    padding-right: calc(50% - 550px);
    padding-left: calc(50% - 550px);
}

body {
    font-family: stratosskyengweb, sans-serif;
    background-color: #0080c1;
}

li {
    list-style-type: none;
}

.difficultySelection {
    display: flex;
    flex-flow: column nowrap;
    place-content: center space-evenly;
    align-items: center;
    width: 480px;
    height: 460px;
    background-color: rgb(188 255 255);
    border-radius: 15px;
}

.difficultySelection div {
    margin: 10px;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -230px 0 0 -240px;
}

.difficultySelection_form {
    top: 210px;
    width: 208px;
    height: 96px;
}

.difficultySelection_form-text {
    color: #004980;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    line-height: 48px;
    text-align: center;
    font-feature-settings:
        "pnum" on,
        "lnum" on;
}

.difficultySelection_form-btn {
    width: 246px;
    height: 48px;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    line-height: 32px;
    text-align: center;
    background: #7ac100;
    border-color: transparent;
    border-radius: 12px;
    font-feature-settings:
        "pnum" on,
        "lnum" on;
}

.radio-toolbar_input {
    display: none;
}

.radio-toolbar {
    display: flex;
    flex-flow: row nowrap;
    place-content: center center;
    align-items: center;
}

.lableButton1,
.lableButton2,
.lableButton3 {
    display: flex;
    flex-wrap: nowrap;
    place-content: center center;
    align-items: center;
    width: 98px;
    height: 98px;
    margin: 14px;
    color: #004980;
    font-weight: 400;
    font-size: 64px;
    font-style: normal;
    line-height: 72px;
    background: #fff;
    border-radius: 12px;
}

.active {
    color: #fff;
    background-color: rgb(133 177 13);
}

.headFormField {
    display: flex;
}

.headFormField-timer {
    color: white;
}

.headFormField-timer_time-min {
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
}

.headFormField-timer_time-sec {
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
}

.headForm {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 52px;
    margin-bottom: 52px;
}

.headForm-btn {
    display: flex;
    align-items: center;
}

.headFormField-timer_title {
    display: flex;
    justify-content: flex-end;
    margin-right: 4px;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    gap: 28px;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    place-content: center center;
    align-items: center;
}

.js-btm-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 246px;
    height: 50px;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    line-height: 32px;
    text-align: center;
    background: #7ac100;
    border-radius: 12px;
    font-feature-settings:
        "pnum" on,
        "lnum" on;
}

.hide {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.4s ease-out;
}

.cardHide {
    width: 95px;
    height: 133px;
    background-image: url("./img/hide.png");
}

.flip-scale-up-hor {
    animation: flip-horizontal-bottom 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.difficultySelection_text-time {
    max-width: 240px;
    height: 32px;
    color: #000;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings:
        "pnum" on,
        "lnum" on;
}

.difficultySelection_forms {
    display: flex;
    flex-flow: column nowrap;
    place-content: center center;
    align-items: center;
}

.timerTimes {
    display: flex;
    flex-flow: row nowrap;
    place-content: center center;
    align-items: center;
    color: #000;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
}

.ico {
    display: none;
    width: 84px;
    margin-left: 84px;
    animation: rotate-center 5s ease-in-out both;
}
